@model TaskManager20000ProPlusUltra.TaskManagerDatabase.Project

@{
    ViewBag.Title = "CreateProject";
}

<h2>CreateProject</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectId)
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "ClientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientId")
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerId, "ManagerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManagerId")
                @Html.ValidationMessageFor(model => model.ManagerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamId, "TeamId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TeamId")
                @Html.ValidationMessageFor(model => model.TeamId)
            </div>
        </div>

        @*Html.HiddenFor(model => model.Status, new { @value = "OPENED"})*@
        <input id="Status" name="Status" type="hidden" value="OPENED" />


        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline)
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreateProject" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Projects")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
