@model IEnumerable<TaskManager20000ProPlusUltra.TaskManagerDatabase.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<p>
    @Html.ActionLink("Create New", "CreateProject")
</p>


<table class="table">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Client</th>
        <th>Team</th>
        <th>Tasks</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Deadline date</th>  
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="/Client">@Html.DisplayFor(modelItem => item.ClientId)</a>
                    @item.Client
                </td>
                <td>
                    <a href="/Team">@Html.DisplayFor(modelItem => item.TeamId)</a>
                </td>
                <td>
                    <a href="/Tasks">@Html.DisplayFor(modelItem => item.Tasks)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Task", new { id = item.ProjectId }) |
                    @Html.ActionLink("Details", "Details", "Task",  new { id = item.ProjectId }) |
                </td>
            </tr>
        }
    </tbody>
</table>
