@model IEnumerable<TaskManager20000ProPlusUltra.TaskManagerDatabase.Task>

@{
    ViewBag.Title = "CurrentTasks";
}

<h2>Current Tasks</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Deadline</th>
    <th>Start Date</th>
    <th>Completion</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink("Done!", "Completed", new { id = item.TaskId })
                </td>
            </tr>
        }
    </tbody>
</table>
